<app-filters-box [disabled]="(isTableLoading$ | async) || (isCardsLoading$ | async) || false " [filterGroups]="filterGroups" (filterChangeEvent)="onFilterChangeEvent($event)"></app-filters-box>

<section class="cards">

  @if (isCardsLoading$ | async) {
    @for (skl of cardSkeletons; track $index) {
      <nz-skeleton-element nzType="button" [nzActive]="true" nzShape="round"></nz-skeleton-element>
    }
  }
  @else {
    @for (card of cards$ | async; track $index) {
      <app-card [card]="card"></app-card>
    }
  }

</section>

<section class="table">
  @if (isTableLoading$ | async) {
    <div class="skeleton">
      @for (skl of skeletons; track $index) {
        <nz-skeleton-element nzType="button" [nzActive]="true" nzShape="square"></nz-skeleton-element>
      }
    </div>
  }
  @else {
    <ag-grid-angular
      [defaultColDef]="defaultColDefs"
      [columnDefs]="columnDefs"
      [rowData]="table$ | async"
      [rowHeight]="30"
      [pagination]="true"
      [paginationPageSize]="15"
      [domLayout]="'autoHeight'"
      [tooltipShowDelay]="0" 
      [theme]="theme"
      overlayNoRowsTemplate="Нет данных для отображения"
      class="ag-theme-alpine"
      style="width: 100%;"
    />
  }
</section>
