:host {
  width: 100%;

  ::ng-deep .table {
    .atn-skeleton, .ant-skeleton-element {
      width: 100% !important;
    }
    .ant-skeleton-button {
      width: 100% !important;
      height: 40px;
    }
  }

}


.table {
  padding: 12px;
  .skeleton {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}