<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<article class="mp_card" [style.backgroundColor]="getBgColor(card)">
  {{currency()}}
  @if (card?.underConstruction) {
    <section class="underConstruction">
      В разработке
    </section>
  }
  <section>
    @if (card?.title) {
      <div class="mp_card-title">
        {{ card?.title }}
      </div>
    }
    <div class="mp_card-body">
      @for (field of card?.subfields; track field) {
        <div class="mp_card-body_item">
          <section>
            {{ field.name }}
          </section>
          <section class="right_part">
            @if (field.diffInPercents) {
              <span
                [ngClass]="{ 'red-text': field.diffInPercents < 0, 'green-text': field.diffInPercents > 0 }">
                @if (field.diffInPercents > 0) {
                  <span>+</span>
                  }{{ field.diffInPercents }} %
                </span>
              }
              @if (field.ratioInPercents) {
                <span>
                  {{ field.ratioInPercents }} %
                </span>
              }
              <span>
                {{ field.value | number: '1.0-0' }} {{this.selectedCurrency}}
              </span>
            </section>
          </div>
        }
      </div>
    </section>

    @if (card?.drr) {
      <div class="mp_card-footer">
        <section class="drr-line">
          <span>ДРР по продажам</span>
          @if (isNumber(card?.salesPercent || 0)) {
            <span> {{ card?.salesPercent | number: '1.1-1' | mpUnit: 'percent' }}</span>
          }
        </section>
        <section class="drr-line" style="font-weight: 600;">
          <span>ДРР по заказам</span>
          @if (isNumber(card?.ordersPercent || 0)) {
            <span> {{ card?.ordersPercent | number: '1.1-1' | mpUnit: 'percent' }}</span>
          }
        </section>
      </div>
    } @else {
      @if (card?.totalSum || card?.totalSum == 0 || card?.totalUnits|| card?.totalUnits == 0 || isNumber(card?.salesPercent || 0) || isNumber(card?.ordersPercent || 0)) {
        <div class="mp_card-footer">
          @if (card?.totalCount) {
            <span> {{ card?.totalCount | number: '1.0-0' | mpUnit: 'item' }}</span>
          }
          @if (isNumber(card?.salesPercent || 0)) {
            <span placement="right" ngbTooltip="ДРР по продажам"> {{ card?.salesPercent | number: '1.1-1' | mpUnit: 'percent' }}</span>
          }
          <section class="mp_card-footer_total">
            @if (isNumber(card?.ordersPercent || 0)) {
              <span placement="right" ngbTooltip="ДРР по заказам"> {{ card?.ordersPercent | number: '1.1-1' | mpUnit: 'percent' }}</span>
            }
            @if (card?.totalSum || card?.totalSum == 0) {
              <span>{{ card?.totalSum | number: '1.0-0'}}  {{this.selectedCurrency}}</span>
            }
            @if (card?.totalUnits || card?.totalUnits == 0) {
              <span>{{ card?.totalUnits }}</span>
            }
            @if (card?.diffInPercents) {
              <span placement="left"  class="mp_card-footer_total_hint">
                <span>{{ (card?.diffInPercents || 0) < 0 ? '↓' : '↑' }}</span><span>{{ (card?.diffInPercents || 0) | mpUnit: 'percent' }}</span>
              </span>
            }
          </section>
        </div>
      }
    }
  </article>

